<header class="header">
    <div class="header__wrapper">
        <div class="header__image">
            <img src="img/tony-gustafsson.jpg" alt="Tony Gustafsson - profile" tabindex="-1" />
        </div>

        <div class="header__text">
            <h2 class="header__sub-heading">Fullstack developer</h2>
            <h1 class="header__heading">Tony Gustafsson</h1>
            <p>
                Born and raised in Gothenburg, Sweden. I'm working as a web developer at daytime and hacking my
                own project at nights. I love programming, web tech, blockchain, science, philosofy, baking and
                coffee.
            </p>
        </div>
    </div>
</header>