<h2>Profession</h2>

<div class="card__wrapper">
    <div class="card">
        <div class="card__image card__image--rectangular card__image--grey">
            <a href="https://www.sqli.com/se-sv">
                <svg alt="SQLI" class="card__image" width="140" height="110">
                    <use xlink:href="img/sprite.svg#icon-sqli"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.sqli.com/se-sv">SQLI Nordics</a>
            </h3>

            <p>
                I've been working on SQLI Nordics (known as Star Republic) for 8 years now. Time is passing quickly when having
                fun with great technology and great people.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.satsuma.se">
                <svg alt="Satsuma Studios" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-satsuma"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.satsuma.se">Satsuma Studios</a>
            </h3>

            <p>
                My own little company where I focus on smaller customers and experimenting a bit with
                different technologies. I'm working with everything from WordPress to custom built sites.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--blue">
            <a href="https://www.linkedin.com/in/tonygustafsson/">
                <svg alt="LinkedIn" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-linkedin"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.linkedin.com/in/tonygustafsson/">LinkedIn</a>
            </h3>

            <p>
                I've been working as a frontend developer for many years now, but have also worked a lot
                with the backend using C#, NodeJS and PHP. I have mainly worked on ecommerce platform and
                custom sites.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--green">
            <a href="https://github.com/tonygustafsson">
                <svg alt="GitHub" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-github"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://github.com/tonygustafsson">GitHub</a>
            </h3>

            <p>
                I'm a huge fan of OpenSource, and most of my work I give away freely. It's a great way of
                getting feedback and helping others.
            </p>
        </div>
    </div>
</div>