<h2>Projects</h2>

<div class="card__wrapper">
    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.blockkedjor.se">
                <svg alt="Blockkedjor.se" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-blockkedjor"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.blockkedjor.se">Blockkedjor.se</a>
            </h3>

            <p>
                A swedish site about blockchains and cryptocurrencies. I felt a need for information
                targeting the swedish market. It's using Metalsmith to transform markdown to a static site.
            </p>
        </div>
    </div>

 <div class="card">
        <div class="card__image card__image--green">
            <a href="https://milk-eggs.vercel.app">
                <svg alt="Milk and Eggs" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-milkandeggs"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://milk-eggs.vercel.app">Milk &amp; Eggs</a>
            </h3>

            <p>
                When no grocery list is good enough you create your own. This requires
                no accound and can be shared between families and friends. A real time database
                makes it possible to see updates immidiatly.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://woodlands-of-peril.vercel.app/">
                <svg alt="Woodlands of Peril" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-woodlands-of-peril"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://woodlands-of-peril.vercel.app/">Woodlands of Peril</a>
            </h3>

            <p>
                As a fox you explore the woodlands and fight enemies, gain level and collect items.
                That's pretty much it at the moment.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://paprika-viewer.vercel.app/">
                <svg alt="Paprika Viewer" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-paprika-viewer"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://paprika-viewer.vercel.app/">Paprika Viewer</a>
            </h3>

            <p>
                An app for display and filter prices of cryptocurrencies. It's using CoinPaprika API
                and the frontend is built with SvelteJS. I built it because I couldn't find any other's that
                could filter by market.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--grey">
            <a href="https://lostseas.vercel.app/">
                <svg alt="Lost Seas" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-lostseas"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://lostseas.vercel.app/">Lost Seas</a>
            </h3>

            <p>
                A fully working web based pirate game. It's an old project of mine, rewritten in Next.js with modern tools.
            </p>
        </div>
    </div>

        <div class="card">
        <div class="card__image card__image--blue">
            <a href="https://merchants-endeavor.vercel.app/">
                <svg alt="Lost Seas" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-merchants-endeavor"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://merchants-endeavor.vercel.app/">Merchants Endeavor</a>
            </h3>

            <p>
              A game where you can buy ships and corporations. You have to look after your staff and allocate them to the ships and companies you've build. You can then send your ships out to missions and gain the rewards.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--pink">
            <a href="https://github.com/tonygustafsson/aspicio/">
                <svg alt="Aspicio" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-aspicio"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="#">Aspicio</a>
            </h3>

            <p>
                A monitoring software with both a monitor, a server and a client using React and Redux. It
                is using websockets for pushing updates to the client.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--grey">
            <a href="https://fasttracker.vercel.app/">
                <svg alt="FastTracker" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-fasttracker"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://fasttracker.vercel.app/">FastTracker</a>
            </h3>

            <p>
                A progressive web app for keeping track of fasting and eating windows. I felt a need for a
                simple tool that remember current or previous fasts. Built headless with React and Redux.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--pink">
            <a href="https://tonys-game-of-life.vercel.app/">
                <svg alt="Game of Life" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-game-of-life"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://tonys-game-of-life.vercel.app/">Game of Life</a>
            </h3>

            <p>
                Conway's Game of Life is a great exercise and a fantastic idea. This one I built from
                scratch with ES6 and HTML Canvas. The goal were to learn and improve the performance of my
                JavaScript code.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--green">
            <a href="https://github.com/tonygustafsson/akashic-cms">
                <svg alt="Akashic CMS" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-akashic-cms"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://github.com/tonygustafsson/akashic-cms">Akashic CMS</a>
            </h3>

            <p>
                This is a PHP library with a MVC structure. It is very slimmed down and module
                based. I actually still use it in some old projects.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://eve-robot.vercel.app/">
                <svg alt="Eve" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-eve"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://eve-robot.vercel.app/">Eve</a>
            </h3>

            <p>
                It's a conversion bot. A pretty stupid one. But sometimes she
                surprises you. Written in React and Redux. Using APIs for fetching online data as you talk
                to her.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://chill-studios.vercel.app/">
                <svg alt="Chill Studios" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-chill-studios"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://chill-studios.vercel.app/">Chill Studios</a>
            </h3>

            <p>
                A site where you can find peace and calm for a while. Choose your nature sounds, set the volume and just sit back and chill.
            </p>
        </div>
    </div>
</div>