<h2>Projects</h2>

<div class="card__wrapper">
    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.blockkedjor.se">
                <svg alt="Blockkedjor.se" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-bitcoin"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.blockkedjor.se">Blockkedjor.se</a>
            </h3>

            <p>
                A swedish site about blockchains and cryptocurrencies. I felt a need for information
                targeting the swedish market. It's using Metalsmith to transform markdown to a static site.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://www.tonyg.se/projects/paprika-viewer/">
                <svg alt="Paprika Viewer" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-paprika-viewer"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.tonyg.se/projects/paprika-viewer/">Paprika Viewer</a>
            </h3>

            <p>
                An app for display and filter prices of cryptocurrencies. It's using CoinPaprika API
                and the frontend is built with SvelteJS. I built it because I couldn't find any other's that
                could filter by market.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--grey">
            <a href="https://www.lostseas.com/">
                <svg alt="Lost Seas" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-lostseas"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.lostseas.com/">Lost Seas</a>
            </h3>

            <p>
                A web based pirate game. It's an old project of mine, using old fascioned PHP. I cannot be
                proud of the code, but I'm somewhat proud of that the game actually works pretty fine.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--blue">
            <a href="https://github.com/tonygustafsson/aspicio/">
                <svg alt="Aspicio" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-aspicio"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="#">Aspicio</a>
            </h3>

            <p>
                A monitoring software with both a monitor, a server and a client using React and Redux. It
                is using websockets for pushing updates to the client.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://github.com/tonygustafsson/fasttracker">
                <svg alt="FastTracker" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-fasttracker"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://github.com/tonygustafsson/fasttracker">FastTracker</a>
            </h3>

            <p>
                A progressive web app for keeping track of fasting and eating windows. I felt a need for a
                simple tool that remember current or previous fasts. Built headless with React and Redux.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--pink">
            <a href="https://www.tonyg.se/projects/game-of-life/">
                <svg alt="Game of Life" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-game-of-life"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.tonyg.se/projects/game-of-life">Game of Life</a>
            </h3>

            <p>
                Conway's Game of Life is a great exercise and a fantastic idea. This one I built from
                scratch with ES6 and HTML Canvas. The goal were to learn and improve the performance of my
                JavaScript code.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--green">
            <a href="https://github.com/tonygustafsson/akashic-cms">
                <svg alt="Akashic CMS" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-akashic-cms"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://github.com/tonygustafsson/akashic-cms">Akashic CMS</a>
            </h3>

            <p>
                This is a PHP library with a MVC structure. It is very slimmed down and module
                based. I actually still use it in some old projects.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.tonyg.se/projects/eve/">
                <svg alt="Eve" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-eve"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.tonyg.se/projects/eve">Eve</a>
            </h3>

            <p>
                It's a conversion bot. A pretty stupid one. But sometimes she
                surprises you. Written in React and Redux. Using APIs for fetching online data as you talk
                to her.
            </p>
        </div>
    </div>
</div>