<h2>Social</h2>

<div class="card__wrapper">
    <div class="card">
        <div class="card__image card__image--blue">
            <a href="https://www.facebook.com/tonygust">
                <svg alt="Facebook" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-facebook"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.facebook.com/tonygust">Facebook</a>
            </h3>

            <p>
                Yup, I'm there. Feel free to contact me if you want.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.instagram.com/tony_gustafsson/">
                <svg alt="Instagram" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.instagram.com/tony_gustafsson/">Instagram</a>
            </h3>

            <p>
                I like to photograph, like, a lot. Get to know me by watching some of them.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://stackoverflow.com/users/2440582/tony-gustafsson">
                <svg alt="StackOverflow" class="card__image" width="110" height="110">
                    <use xlink:href="img/sprite.svg#icon-stackoverflow"></use>
                </svg>
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://stackoverflow.com/users/2440582/tony-gustafsson">StackOverflow</a>
            </h3>

            <p>
                All developers are secretly getting all answers from StackOverflow. I try to give something
                back to the community by answering questions and getting into discussions.
            </p>
        </div>
    </div>
</div>