<h2>Social</h2>

<div class="card__wrapper">
    <div class="card">
        <div class="card__image card__image--blue">
            <a href="https://www.facebook.com/tonygust">
                <img src="img/facebook.svg" alt="Facebook" />
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.facebook.com/tonygust">Facebook</a>
            </h3>

            <p>
                Yup, I'm there as well. Is it even a choice nowdays?
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--orange">
            <a href="https://www.instagram.com/tony_gustafsson/">
                <img src="img/instagram.svg" alt="Instagram" />
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://www.instagram.com/tony_gustafsson/">Instagram</a>
            </h3>

            <p>
                I like to photograph, like, a lot. I should really upload my photos to a better service.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__image card__image--red">
            <a href="https://stackoverflow.com/users/2440582/tony-gustafsson">
                <img src="img/stackoverflow.svg" alt="StackOverflow" />
            </a>
        </div>

        <div class="card__content">
            <h3 class="card__heading">
                <a href="https://stackoverflow.com/users/2440582/tony-gustafsson">StackOverflow</a>
            </h3>

            <p>
                All developers are secretly getting all answers from StackOverflow. I try to give something
                back to the community by answering questions and getting into discussions.
            </p>
        </div>
    </div>
</div>