body {
    background: radial-gradient(#eaeaea, $white);
    background-attachment: fixed;
    color: $black;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;

    &.dark-mode {
        background: radial-gradient(#393939, #000);
        color: $white;
    }
}

h1 {
    font-size: 3em;
}

img {
    max-width: 100%;
}

article {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    width: 80%;
    margin: 0 auto;

    hr {
        border: 1px #e1e1e1 solid;
        margin-bottom: 4em;

        .dark-mode & {
            border-color: $black;
        }
    }
}
