.card {
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3em;
    }

    width: 100%;
    margin-bottom: 2em;
    background: $white;

    @media (min-width: $screenMd) {
        width: calc(50% - 1em);
        margin-right: 1em;
    }

    @media (min-width: $screenLg) {
        width: calc(33.333% - 2em);
        margin-right: 2em;
    }

    @media (min-width: $screenXl) {
        width: calc(25% - 2em);
        margin-right: 2em;
    }

    &__image {
        a {
            display: flex;
        }

        &--blue {
            background-color: $blue;
        }

        &--pink {
            background-color: $pink;
        }

        &--orange {
            background-color: $orange;
        }

        &--grey {
            background-color: $greyDark;
        }

        &--green {
            background-color: $green;
        }

        &--red {
            background-color: $red;
        }

        .dark-mode & {
            filter: grayscale(0.7);
        }

        img,
        svg {
            width: 110px;
            height: 110px;
            margin: 28px auto;
            transition: filter 250ms, transform 350ms;
        }

        &--rectangular {
            img,svg {
                width: 180px;
                height: 110px;
            }  
        }
    }

    &:hover {
        .card__image {
            img,
            svg {
                transform: scale(1.03);
                filter: drop-shadow(0px 0px 3px white);

                @media (prefers-reduced-motion) {
                    transform: none;
                    filter: none;
                }
            }
        }
    }

    &__heading {
        margin-top: 0;

        a {
            color: $black;

            .dark-mode & {
                color: $white;
            }
        }
    }

    &__content {
        padding: 1em;

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .dark-mode & {
        background-color: $greyDarkest;
    }
}
