.card {
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    width: calc(25% - 2em);
    margin-right: 2em;
    background: $white;

    &__image {
        display: flex;
        color: $white;

        &--blue {
            background-color: $blue;
        }

        &--pink {
            background-color: $pink;
        }

        &--orange {
            background-color: $orange;
        }

        img {
            width: 33.33%;
            height: 150px;
            margin: 10px auto;
            transition: filter 250ms, transform 350ms;
        }
    }

    &:hover {
        .card__image {
            img {
                transform: scale(1.03);
                filter: drop-shadow(0px 0px 3px white);
            }
        }
    }

    &__heading {
        margin-top: 0;
    }

    &__content {
        padding: 1em;

        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
