.header {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, #dedede 0%, transparent 120%);
    padding: 2em 0;
    margin-bottom: 2em;

    @media (min-width: $screenLg) {
        padding: 4em 0;
        margin-bottom: 4em;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;

        @media (min-width: $screenMd) {
            flex-direction: row;
        }
    }

    &__image {
        width: 80%;
        min-width: 200px;
        box-sizing: border-box;

        img {
            border-radius: 50%;
            border: 18px solid $white;
            box-shadow: 0 0 20px $grey;
            box-sizing: border-box;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;

        @media (min-width: $screenMd) {
            padding-left: 10%;
        }
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;

        @media (min-width: $screenMd) {
            margin-top: -14px;
        }
    }

    &__sub-heading {
        font-size: 1.25em;
        font-weight: normal;
        color: $grey;
        margin-bottom: 3px;

        @media (min-width: $screenMd) {
            margin-left: 30px;
        }
    }
}
