.header {
    background-color: $white;
    background: radial-gradient(circle, #dedede 0%, transparent 120%);
    padding: 2em 0;
    margin-bottom: 2em;

    &__theme {
        position: absolute;
        top: 10px;
        right: 10px;

        &__toggler {
            display: none;
            fill: #ffc500;
            cursor: pointer;

            &.active {
                display: block;
            }
        }
    }

    .dark-mode & {
        background-color: $black;
        background: radial-gradient(circle, #2f2f2f 0%, transparent 120%);
    }

    @media (min-width: $screenLg) {
        padding: 4em 0;
        margin-bottom: 4em;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 1600px;
        margin: 0 auto;

        @media (min-width: $screenMd) {
            flex-direction: row;
        }
    }

    &__image-container {
        flex: 1 0 25%;
    }

    &__image {
        width: 100%;
        height: auto;
        max-width: 340px;
        border-radius: 50%;
        border: 18px solid $white;
        box-shadow: 0 0 20px $grey;
        box-sizing: border-box;
        filter: grayscale(1);
        outline: 0;
        user-select: none;

        &--transitionable {
            transition-property: filter, border-top-right-radius, border-bottom-left-radius, border-top-left-radius,
                border-bottom-right-radius;
            transition-duration: 200ms;
            transition-timing-function: linear;
            transition-delay: 0ms, 0ms, 100ms, 200ms, 300ms;
        }

        &:hover {
            border-radius: 0;
            filter: grayscale(0);
        }
    }

    &__text {
        flex: 1 0 0;

        p {
            font-size: 18px;
        }

        @media (min-width: $screenMd) {
            flex-basis: calc(50% - 6em);
            width: calc(50% - 6em);
            margin-left: 4em;
            margin-right: 2em;
        }

        @media (min-width: $screenLg) {
            flex-basis: calc(75% - 6em);
            width: calc(75% - 6em);
        }
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.2;

        @media (min-width: $screenMd) {
            margin-top: -14px;
        }
    }

    &__sub-heading {
        font-size: 1.25em;
        font-weight: normal;
        color: $grey;
        margin-bottom: 3px;

        @media (min-width: $screenMd) {
            margin-left: 30px;
        }
    }
}
